<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Manager</title>
</head>
<body>
    <ul class="li"><a href="">Home</a></ul>
    <ul class="li"><a href="views/login/">Sigin</a></ul>
    <ul class="li"><a href="views/register/">sigup</a></ul>
    <ul class="li"><a href="">Profile</a></ul>
    <ul class="li"><a href="views/user/list-user">list-user</a></ul>

</body>
</html>